<head><%= render 'layouts/header', :params => { :flag => "event" }%></head>

<br>
<h1 style="margin-left: 50px">Event Successfully Created</h1>

<%= form_tag(new_event_path, :method=>'get' ) do %>
<%= submit_tag 'Back', :class => "button", :style => "margin-left: 50px"%>
<% end %>

