<h1>New event</h1>

<!--

<%= render 'form' %>

<%= link_to 'Back', events_path %>

-->

<form accept-charset="UTF-8" action="/events" class="new_event" id="new_event" method="post">
  Name: <input type="text" name="eventname" /><br />
  Description: <input type="text" name="description" /><br />

  <br>
  Enter up to three interest tags: <br>
  Interest tag #1: <input type="text" name="tag1" /><br />
  Interest tag #2: <input type="text" name="tag2" /><br />
  Interest tag #3: <input type="text" name="tag3" /><br />
  <br>

  <input type="submit" value="Create Event" />
</form>
