<h1>MyPages#home</h1>
<p></p>
<%= "Hello, #{@user['name']}" %>
<br>
<%= link_to "Create event", create_event_path %>
<br>
<%=
s = "Your interests are: "
UserInterest.find_all_by_fbid(@user['id']).each do |x|
  s += Interest.find(x.interestid).name
end
s
#Interest.find_by_fbid(@user['id'])
%>
