// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#outer_table tr td
{
  vertical-align: text-top;
}

#outer_table tr td table tr td input[type="text"]
{
  width: 87%;
}

#create_table
{
  margin-left: 5%;
}

#create_table td.name 
{
  text-align:right;
  font-weight:bold;
}
