<head>
<script type="text/javascript">
$(document).ready(function(){
  $(".x").click(function(){
    $(this).submit();
  });
});
</script>
	<title>Get2Gether</title>
	
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="/assets/my_pages.css.scss">
	
		<div class="frontlogo">
      <%= link_to image_tag("/assets/front_logo.png"), :action => 'home', :controller => 'my_pages' %>
			<!--<img class="logo" src="/assets/front_logo.png" alt"" >-->
		</div>
        <ul class="group" id="example-two">
          <li><%= link_to "Create Event", new_event_path %></li>
			    <li><%= link_to "Maps", maps_path %></li>
			    <li><a rel="#98CEAA" href="#" id="clicked3">Explore</a></li>
        </ul>
	
	
</head>
